

@font-face
{
    font-family: 'BalooTammudu2-Bold';
    src: url('../fonts/BalooTammudu2-Medium.ttf');
}

@font-face
{
    font-family: 'Karla-Regular';
    src: url('../fonts/Karla-Regular.ttf');
}

@font-face
{
    font-family: 'Cabin-VariableFont_wdth';
    src: url('../fonts/Cabin-VariableFont_wdth.ttf');
}

body {
    background-color: white;
    font-family: 'Cabin-VariableFont_wdth', arial, sans-serif;
}

a {
    font-family: 'Karla-Regular', arial, sans-serif;
    text-align: center;
}

h1, .center{
    text-align: center;
}

h1 {
    font-size: 2.7em;
    font-family: 'BalooTammudu2-Bold', arial, sans-serif;
    color: white;
}

h2 {
    font-family: 'Karla-Regular', arial, sans-serif;
    margin: 0px;
}

h3 {
    font-family: 'Karla-Regular', arial, sans-serif;
    margin: 0px;
    font-weight: bold;
}

.noPadding {
    padding: 0px;
}

.icon {
    margin: 13px;
}

/* part menu */
.bg-light {
    background-color: #171C81 !important; /*partie menu*/
}

.nav-link, .dropdown-item {
    color: white !important;
}

.dropdown-menu {
    background-color: #171C81 !important;
}

.dropdown-menu a{
    text-align: center;
    color: #F1C81F !important;
}

.navbar-toggler {
    background-color: white !important;
}

.navbar-toggler:hover{
    background-color: #F1C81F !important;
}

.navbar-nav {
    margin: auto;
}

/* part homepage and explanation*/
.logo {
    width: 60px;
    border-radius: 10px;
}

.title h1, .title h2 {
    padding: 0;
}

.title h2 {
    font-size: 0.7em;
    color: white;
    text-align: center;
}

.blockHead {
    background-color: #171C81;
    padding: 40px 10px 20px 10px;
    border-bottom: 4px #F1C81F solid;
}

.headLarge {
    padding-bottom: 100px;
}

.headMedium {
    padding-bottom: 50px;
}

.homepageButton {
    margin-top: 10px;
}

.homepageButton a {
    background-color: #F1C81F;
    padding: 5px 7px 5px 7px;
    margin: 40px 10px 0 10px;
    border-radius: 10px;
    color: #171C81;
    font-weight: bold;
}

.bluespoon {
    margin: 30px 0 20px 0;
}

.homepageBlock{
    height: 200px;
}

.choiceBlock {
    height: 130px;
    margin:3%;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 7px 7px 4px #28333d42;
    max-width: 400px;
}

.choiceBlock a {
    color: white;
    font-size: 0.75em;
}
.blockStyle1 {
    background-color: #F1C81F;
}

.blockStyle1 a {
    color: #171C81;
    font-weight: bold;
}

.blockStyle2 {
    background-color: #171C81;
}

/*part explanation*/

.slideshow { /* TODO */
    height: 200px;
    width: 80%;
    margin: 20px;
    background-color: #D8E5F2;
}
.explanationSteps,.explanationSecurity {
    color: #171C81;
}

.explanationSecurity {
    margin-top: 50px;
}

.explanationSteps h3, .explanationSecurity h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.explanationSteps p{
    text-align: justify;
}

.explanationSecurity p, .explanationSecurity h3 {
    text-align: center;
}

/* part dashboard */

.blockDashboard {
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px 0 50px 0;
    box-shadow: 7px 7px 4px #28333d42;
    position: relative;
    top: -70px;
    max-width: 1000px;
}

.blueBackground {
    background-color: #D8E5F2;
    padding: 0 20px 0 20px;
    margin-bottom: -80px;
}

.subtitle {
    font-size: 1em;
    font-weight: bold;
    margin: 20px 0 40px 0;
    color: #171C81;
}

/* part register and login */

.btn-primary {
    color: #fff;
    background-color: #171C81;
    border: 2px solid #F1C81F;
    margin: auto;
}

.btn-center {
    display: flex;
    justify-content: center;
}

.iconLogin {
    margin: 25px;
    text-align: center;
}

.loginLink {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: #171C81;
}

.blockRegister {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px 10px 50px 10px;
    box-shadow: 7px 7px 4px #28333d42;
    position: relative;
    top: -70px;
}

.formMargin {
    margin-bottom: 16px;
}

/* part simulation */
.simulationLineGreen { /*TODO To delete?*/
    height: 30px;
    background-color: #aee958;
}

.simulationLineOrange {
    height: 30px;
    background-color: #8e4ccd;
}

.simulationFormBlock {
    margin: 50px 0px 50px 0;
}
.simulationFormButton {
    margin: 40px 0 20px 0;
}
/* part simulation list */
.simulationListLink {
    margin: 20px 20px 10px 20px;
    padding-left: 40px;
}

.backLink {
    padding: 10px 20px 10px 20px;
}

.editLink {
text-align: right;
}

.searchForm{
    margin: 40px;
}

/* part simulation report */
.simulationDetails {
    margin: 20px 0 10px 0;
}

.simulationDownload {
    margin: 10px 0 -10px 0;
}

.simulationReport {
    margin: 70px 0 50px 0;
}

/* part planning */

.planningSteps {
    text-align: center;
    margin-top: 40px;
    color: #171C81;
}

.planningSteps h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.planningSteps p {
    padding: 0;
}

.planningFact {
    margin: 40px 0 40px 0;
}
.planningFact p {
    color: #171C81;
}

.planningData {
    font-weight: bold;
    font-size: 1.4em;
}

/* profile */
.profileDashboard {
    height: 400px;
}

.profileTable {
    margin-top: 50px;
}
/* footer */

footer {
    background-color: #171C81;
    height: 70px;
    margin-top: 80px;
    color: white;
    font-size: 0.8em;
    text-align: center;
}

footer p{
    margin-bottom: 0;
}
/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly8vYXBwLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtJQUNJLDJCQUEyQjtBQUMvQiIsImZpbGUiOiJhcHAuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiYm9keSB7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogbGlnaHRncmF5O1xufVxuIl0sInNvdXJjZVJvb3QiOiIifQ==*/