{% extends 'base.html.twig' %}

{% block title %} charges {% endblock %}

{% block body %}

    <div class="blockHead headMedium">
        <div class="row title">
            <h1 class="col-12" > Nouvelle Simulation </h1>
        </div>
    </div>

    <div class="row d-flex simulationFormBlock">
        <div class="col-12 ">
            <h2>Les charges</h2>
        </div>
    </div>

    <div class="row d-flex simulationFormBlock">
        <div class="col-8">

            {{ form_start(costsForm) }}

            {{ form_widget(costsForm) }}

            <button type="submit" class="btn btn-primary simulationFormButton">Suivant</button>
            {{ form_end(costsForm) }}

        </div>
    </div>

{% endblock %}