{% extends 'base.html.twig' %}

{% block title %} besoins de démarrage {% endblock %}

{% block body %}

    {{ form_start(firstNeedsForm) }}

    {{ form_widget(firstNeedsForm) }}

    <button type="submit" class="btn btn-primary">Create!</button>
    {{ form_end(firstNeedsForm) }}

{% endblock %}