{% extends 'base.html.twig' %}

{% block title %} login {% endblock %}

{% block body %}

    <div class="blockHead headLarge">
        <div class="row title">
            <h1 class="col-12" > Se connecter </h1>
        </div>
    </div>

    <div class="blueBackground">
        <div class="row blockRegister">
            <div class="col-12 noPadding">
                <div class="row">
                    <h2 class="col-12 d-flex align-items-center justify-content-center subtitle"> Accéder au tableau de bord</h2>
                </div>

                <div>
                    formulaire
                </div>

                <div class="row">
                    <a class="col-12 d-flex align-items-center justify-content-center loginLink" href="{{ path('app_register') }}"> Je n'ai pas encore de compte  ></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}