{% extends 'base.html.twig' %}

{% block title %} All simulations {% endblock %}

{% block body %}

    <p>Mes Simulations</p>

    {% for simulation in simulations %}
        <a href="{{ path('app_simulation_view', { slug: simulation.id }) }}"> Voir {{ simulation.name }} créée le {{ simulation.createdAt|format_datetime(locale='fr') }}</a></br>
    {% endfor %}

{% endblock %}